* {
  margin: 0px;
  padding: 0px;
  background: rgb(253, 211, 218);
  font-family: system-ui;
  box-sizing: border-box;
}
.navbar{
  padding: 20px 20px;
  text-align: right;
  position: sticky;
  top: 0px;
  z-index: 1;
  background-color: #fdd3da;
}
.navbar a {
  text-decoration: none;
  color: rgb(152, 12, 131);
  margin-right: 75px;
  font-size: 20px;
  font-weight: 450;
}
.navbar a:last-child {
  margin-right: 0;
}

.main {
    padding: 20px;
    display: flex;

}
.side {
    min-width: 50%;
    font-size: 25px;
    padding: 10px 10px;
}
.main .side img {
      height: auto;
      width:300px;
      position: relative;
      top: 60px;
      left: 200px;
}
.side a{
    text-decoration: none;
    color: black;
    margin-top:20px ;
}
.side h1{
    font-size: 50px;
}
.side h2{
    font-size: 50px;
    font-weight: 200;
}

